@model DominikStiller.VertretungsplanServer.Web.Controllers.VertretungsplanViewModel

@{
    ViewData["Title"] = "Vertretungsplan für Schüler";

    var Vertretungsplan = Model.Vertretungsplan;
}

@if (Vertretungsplan != null)
{
    @section Scripts {
        <script>
            var type = "students";
            var currentDate = "@Vertretungsplan.Date.ToString(Model.DateformatInternal)";
            @{ var jsDates = Model.Dates.Select(d => String.Format("\"{0}\"", d)); }
            var dates = [@Html.Raw(String.Join(", ", jsDates))];
        </script>
    }

    <header>
        <div id="dateselector-container">
            <a id="previousdate" title="Zu @Model.PreviousDate.ToString(Model.DateformatPublic)" data-date="@Model.PreviousDate.ToString(Model.DateformatInternal)">&lsaquo;</a>
            <select asp-items="@Model.DateSelectorItems" id="dateselector" title="@Vertretungsplan.Date.ToString(Model.DateformatPublic + "yyyy")"></select>
            <a id="nextdate" title="Zu @Model.NextDate.ToString(Model.DateformatPublic)" data-date="@Model.NextDate.ToString(Model.DateformatInternal)">&rsaquo;</a>
        </div>
        <dl id="metadata">
            <dt>Zuletzt aktualisiert:</dt>
            <dd>vor @Model.LastUpdatedInWords (@Vertretungsplan.LastUpdated.ToString("dd. MMMMM, HH:mm") Uhr)</dd>
            @if (@Vertretungsplan.StudentNotes.Length != 0)
                {
                <dt>Anmerkungen:</dt>
                <dd>@Vertretungsplan.StudentNotes</dd>
            }
        </dl>
        <a href="http://www.gymnasium-unterrieden.de/"><img src="/images/logo_gus.png" id="guslogo" alt="Logo des Gymnasium Unterrieden Sindelfingen"></a>
    </header>
    <section id="data">
        @if (Vertretungsplan.Entries.Count > 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>Klasse</th>
                        <th>Stunde</th>
                        <th>Lehrer / Fach</th>
                        <th>Ersatzlehrer</th>
                        <th>Fach</th>
                        <th>Raum</th>
                        <th>Bemerkung</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="colorstripe"><td colspan="7"></td></tr>
                    @foreach (var entry in Vertretungsplan.Entries)
                    {
                        <tr>
                            <td>
                                @entry.Form
                            </td>
                            <td>
                                @entry.Lesson.
                            </td>
                            <td>
                                @entry.OriginalTeacher / @entry.OriginalSubject
                            </td>
                            <td>
                                @entry.SubstitutionTeacher
                            </td>
                            <td>
                                @entry.SubstitutionSubject
                            </td>
                            <td>
                                @entry.SubstitutionRoom
                            </td>
                            <td>
                                @entry.Note
                            </td>
                        </tr>
                    }
                    <tr class="colorstripe"><td colspan="7"></td></tr>
                </tbody>
            </table>
        }
        else
        {
            <div>
                Für diesen Tag gibt es keine Vertretungen.
            </div>
        }
    </section>
    }
    else
    {
        ViewData["Lightweight"] = true;
        ViewData["HideFooter"] = true;

        <div class="message">
            <div>Im Moment gibt es keine Vertretungen.</div>
            Bitte versuchen Sie es in ein paar Minuten erneut.
        </div>
    }
